@font-face{
    font-family: Ethnocentric;
    src: url(ethnocentric_rg_it.ttf);
}
body {
    background-image: url(bg.jpg);
    background-color: silver;
    background-size: auto;
}
#modal {
    background-color: silver;
    border-radius: 10px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.modalData{
    flex-basis: 100%;
}
#back{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
#wrapperMore{
    text-align: center;
    padding-top: 55px;
}
.buttonStyleMini,.buttonStyle{
    margin: 5px;
}
#buttonsInside,#formAddPersonStyle,#changeTableStyle,#changeTableButtons,#showTable{
    margin: auto;
}
#buttons, div,.showElement{
    display: flex;
    flex-direction: column;
}
#textFormat{
    font-family: Ethnocentric;
    font-size: 30pt;
}
body,.margZero{
    margin:0;
}
.buttonStyle,.buttonStyleMini{
    width: 250px;
    height: 50px;
}
.buttonStyleMini{
    height: 30px;
}
.box{
    margin: 5px auto;
    width: 244px;
    height: 21px;
    border-width: 0;
    padding: 3px;
}
.hideElement{
    display: none;
}
table {
    margin: 5px auto;
    width: 50%;
    background-color: white;
    border: 4px black;
    border-collapse: collapse;
}
tr:first-child{
    border-top: 0;
}
td:last-child, th:last-child{
    border-right: 0;
}
tr, td, th{
    padding: 5px;
}
tr, td{
    border-top: 1px solid black;
}
td, th{
    border-right: 1px solid black;
}
th{
    background-color: rgba(215, 215, 215, 0.74);
}
.error,.valid{
    outline: 2px solid red;
    outline-offset: -1px ;
}
.valid{
    outline: 2px solid green;
}
.message,.messageValid,.errorMessage{
    font-size: 10pt;
}
.messageValid{
    color: green;
}
.errorMessage{
    color: red;
}

@media screen and (min-width: 530px){
    #buttons,#formAddPerson,#buttonsAddClose,#changeTableButtons{
        flex-direction: row;
    }
    #formAddPerson,#buttonsAddClose,#changeTableButtons{
        flex-wrap: wrap;
    }
    #formAddPerson,#changeTableButtons{
        width: 520px;
    }
    table{
        min-width: 510px;
    }
    #modal{
        margin: 10%;
    }
    #sortByName{
        order: 1;
    }
    #sortBySname{
        order: 2;
    }
    #sortByAge{
        order: 3;
    }
    #sortByLang{
        order: 4;
    }
    #numberInTheList{
        order: 5;
    }
    #deletePersonByNumber{
        order: 7
    }
    #nameOfThePerson{
        order: 6;
    }
    #deletePersonByName{
        order: 8;
    }
}
@media screen and (min-width: 160px)and(max-width: 480px){
    body{
        zoom: 0.8
    }
}