Homework_1/.idea/
Homework_2/.idea/
Homework_2/CSS/.idea/
Homework_2/Javascript/.idea/
Homework_3/.idea/
Homework_4/.idea/
Homework_5/.idea/
Homework_6/Chart/.idea/
Homework_6/website/.idea/
Homework_6/website/.gitignore
homework_7/.idea/
homework_7/node_modules/
