<section class="contentTwo">
    <div class="contentTwo__tab contentTwo__tab_one contentTwo__tab_active tabs">
        <div class="tabs__number tabs__number_active">
            1
        </div>
        <div class="tabs__text">
            Simple
        </div>
    </div>
    <div class="contentTwo__tab contentTwo__tab_two tabs">
        <div class="tabs__number">
            2
        </div>
        <div class="tabs__text">
            Transparent
        </div>
    </div>
    <div class="contentTwo__tab contentTwo__tab_three tabs">
        <div class="tabs__number">
            3
        </div>
        <div class="tabs__text">
            Collaborative
        </div>
    </div>
    <div class="contentTwo__text contentTwo__text_active">
        <img class="contentTwo__text_image" src="../img/glasses.png" alt="picture here"/>
        <div>
            <h3 class="contentTwo__text_h3">
                Browse projects, like booking a hotel online!
            </h3>
            <p class="contentTwo__text_p">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et do lore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="contentTwo__text">
        <img class="contentTwo__text_image" src="../img/glassesPink.png" alt="picture here"/>
        <div>
            <h3 class="contentTwo__text_h3">
                Pink projects, like glasses on a head!
            </h3>
            <p class="contentTwo__text_p">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et do lore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="contentTwo__text">
        <img class="contentTwo__text_image" src="../img/glassesViolet.png" alt="picture here"/>
        <div>
            <h3 class="contentTwo__text_h3">
                Don't miss a future, it is right now!
            </h3>
            <p class="contentTwo__text_p">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et do lore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
        </div>
    </div>
</section>