<section class="contentThree">
    <div class="contentThree__item contentThree__item_one containerThree">
        <div class="containerThree__image">
            <img  src="../img/sofaLamp.png" alt="picture here" class="containerThree__image_img">
        </div>
        <div class="containerThree__text">
            <h3 class="containerThree__text_h">
                Find Properties
            </h3>
            <p class="containerThree__text_p">
                Sign up to browse the portfolio.
                Your journey to becoming a real estate baron starts here.
            </p>
            <button class="buttonConfigThree containerThree__text_buttonOne">
                Become A Member
            </button>
        </div>
    </div>
    <div class="contentThree__item contentThree__item_two containerThree">
        <div class="containerThree__image">
            <img  src="../img/wallet.png" alt="picture here" class="containerThree__image_img">
        </div>
        <div class="containerThree__text buttonConfig">
            <h3 class="containerThree__text_h">
                Find Buyers
            </h3>
            <p class="containerThree__text_p">
                Sign up to browse the portfolio.
                Your journey to becoming a real estate baron starts here.
            </p>
            <button class="buttonConfigThree containerThree__text_buttonTwo">
                Submit Your Project
            </button>
        </div>
    </div>
</section>