<section class="contentOne">
    <img class="contentOne__icon" src="../img/icon.svg" onerror="this.onerror=null; this.src='../img/icon.png'" alt="picture here">
    <h2 class="contentOne__h2">
        Our work is the presentation
        <br/>
        of our capabilities.
    </h2>
    <p class="contentOne__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
    </p>
    <p class="contentOne__text">
        Ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
</section>