<section class="contentFive">
    <img src="../img/bg.png" class="contentFive__image">
    <div class="contentFive__item">
        <h2 class="contentFive__item_h2">
            Be Part of a Growing International Community
        </h2>
        <p class="contentFive__item_p">
            One of the challenges in networking is everybody thinks it's making cold calls to strangers.
            Actually, it's the people who already have strong trust relationships with you
        </p>
    </div>
    <div class="contentFive__item">
        <div class="contentFive__item_comm comments">
            <div class="comments__item">
                <h3 class="comments__item_h3">
                    One of the Best
                </h3>
                <p class="comments__item_p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="comments__person">
                <div class="comments__person_container">
                    <img class="comments__person_image" src="../img/commentFotoOne.png" alt="Photo here">
                </div>
                <p class="comments__person_name">
                    David Beckhem
                </p>
            </div>
        </div>
    </div>
    <div class="contentFive__item">
        <div class="contentFive__item_comm comments">
            <div class="comments__item">
                <h3 class="comments__item_h3">
                    Exellent Service
                </h3>
                <p class="comments__item_p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="comments__person">
                <div class="comments__person_container">
                    <img class="comments__person_image" src="../img/commentFotoTwo.png" alt="Photo here">
                </div>
                <p class="comments__person_name">
                    David Beckhem
                </p>
            </div>
        </div>
    </div>
</section>