<section class="contentFour">
    <div class="contentFour__item contentFour__item_head containerFour">
        <div class="containerFour__text">
            <h3 class="containerFour__text_h">
                Featured Projects
            </h3>
            <p class="containerFour__text_p">
                Brief details of new and popular projects.
                To view full listings, you will be required to
                sign up and become a member.
            </p>
        </div>
        <button class="containerFour__button">
            Become a Member
        </button>
    </div>
    <div class="contentFour__item  project">
        <div class="contentFour__item_images">
            <div class="project__item">
                <img class="project__item_img"  src="../img/projectOne.jpg" alt="Picture here" >
                <div class="project__item_label">
                    <p>
                        new
                    </p>
                </div>
                <div class="project__item_price">
                    <p>
                        From
                        <strong>
                            GBP 3600
                        </strong>
                    </p>
                </div>
            </div>
            <div class="project__item project__text">
                <h3 class="project__item_h">
                    Ontario Tower, LONDON
                </h3>
                <p class="project__item_p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="project__item project__progress">
                <div class="project__item_barDone project__progress_ten">
                </div>
                <div class="project__item_barNone project__progress_ninety">
                </div>
            </div>
            <div class="project__item project__progressText">
                <p class="project__progressText_percent">
                    10% Funded
                </p>
                <p class="project__progressText_days">
                    8 Days Left
                </p>
            </div>
            <div class="project__details">
                <p class="project__details_text">
                    See Project Details
                </p>
                <a href="#" class="project__details_button">
                </a>
            </div>
        </div>
        <div class="contentFour__item_images">
            <div class="project__item">
                <img class="project__item_img"  src="../img/projectTwo.jpg" alt="Picture here" >
                <div class="project__item_label">
                    <p>
                        new
                    </p>
                </div>
                <div class="project__item_price">
                    <p>
                        From
                        <strong>
                            GBP 3600
                        </strong>
                    </p>
                </div>
            </div>
            <div class="project__item project__text">
                <h3 class="project__item_h">
                    Ontario Tower, LONDON
                </h3>
                <p class="project__item_p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="project__item project__progress">
                <div class="project__item_barDone project__progress_sixty">
                </div>
                <div class="project__item_barNone project__progress_fourty">
                </div>
            </div>
            <div class="project__item project__progressText">
                <p class="project__progressText_percent">
                    60% Funded
                </p>
                <p class="project__progressText_days">
                    8 Days Left
                </p>
            </div>
            <div class="project__details">
                <p class="project__details_text">
                    See Project Details
                </p>
                <a href="#" class="project__details_button">
                </a>
            </div>
        </div>
        <div class="contentFour__item_images">
            <div class="project__item">
                <img class="project__item_img"  src="../img/projectThree.jpg" alt="Picture here" >
                <div class="project__item_label">
                    <p>
                        new
                    </p>
                </div>
                <div class="project__item_price">
                    <p>
                        From
                        <strong>
                            GBP 3600
                        </strong>
                    </p>
                </div>
            </div>
            <div class="project__item project__text">
                <h3 class="project__item_h">
                    Ontario Tower, LONDON
                </h3>
                <p class="project__item_p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="project__item project__progress">
                <div class="project__item_barDone project__progress_ten">
                </div>
                <div class="project__item_barNone project__progress_ninety">
                </div>
            </div>
            <div class="project__item project__progressText">
                <p class="project__progressText_percent">
                    10% Funded
                </p>
                <p class="project__progressText_days">
                    8 Days Left
                </p>
            </div>
            <div class="project__details">
                <p class="project__details_text">
                    See Project Details
                </p>
                <a href="#" class="project__details_button">
                </a>
            </div>
        </div>
    </div>
</section>