<section class="footer">
    <div class="footer__companies">
        <a href="#">
            <img src="../img/companyOne.png" alt="companyOne here">
        </a>
        <a href="#">
            <img src="../img/companyTwo.png" alt="companyTwo here">
        </a>
        <a href="#">
            <img src="../img/companyThree.png" alt="companyThree here">
        </a>
        <a href="#">
            <img src="../img/companyFour.png" alt="companyFour here">
        </a>
        <a href="#">
            <img src="../img/companyFive.png" alt="companyFive here">
        </a>
        <a href="#">
            <img src="../img/companySix.png" alt="companySix here">
        </a>
        <a href="#">
            <img src="../img/companySeven.png" alt="companySeven here">
        </a>
    </div>
    <hr class="footer__line">
    <div class="footer__text">
        <p>
            Copyright &copy 2001-2017
            <a href="#">
                Blabla.com
            </a>
        </p>
    </div>

</section>