<header class="header">
    <div class="header__logo logo">
        <div class="logo__item logo__item_one">
        </div>
        <div class="logo__item logo__item_two">
        </div>
        <div class="logo__item logo__item_three">
        </div>
        <div class="logo__item logo__item_four">
        </div>
    </div>
    <div class="header__companyName">
        Crowdme
    </div>
    <div class="header__wrapper">
        <nav class="header__nav">
            <a href="#" class="header__nav_item">
                Home
            </a>
            <a href="#" class="header__nav_item">
                How it works
            </a>
            <a href="#" class="header__nav_item">
                Discover a project
            </a>
            <a href="#" class="header__nav_item">
                Blog
            </a>
            <a href="#" class="header__nav_item">
                Find out more
            </a>
        </nav>
        <form class="header__form">
            <button class="header__form_button">
                Login
            </button>
        </form>
    </div>
</header>
