<!DOCTYPE html>
<html lang="en">
<head>
    <title>Psd landing page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="container">
        //= header.html
        //= banner.html
        //= contentOne.html
        //= contentTwo.html
        //= contentThree.html
        //= contentFour.html
        //= contentFive.html
        //= map.html
        //= footer.html
    </div>
    <script type="text/javascript" src="./js/main.js"></script>
    <script async defer
        src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyCme3vXFXnrXwd70kUotRzipTp5w9iZmcQ&callback=initMap">
    </script>
</body>
</html>